[global]
compiledir_format = nn_compiledir_%(platform)s-%(processor)s-%(python_version)s-%(python_bitwidth)s

[lib]
cnmem=1000

[experimental]
unpickle_gpu_on_cpu=True
unpickle_shared_gpu_on_cpu=True
